<h1>New Artist</h1>

<%= form_with scope: :artist, url: artists_path, local: true do |form| %>
  <p>
    <%= form.label :artist %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>


