<p>
  <strong>Artist: </strong>
  <%= @artist.name %> <br>
  <%= link_to 'All artists', artists_path %>
</p>

<p>
  <strong>Group(s):</strong>
   <% if @artist.groups.present? %>
    <% @artist.groups.each do |group| %>
      <%= group.name %>
    <% end %>
  <% end %>
</p>