<p>
  <strong>Group name:</strong>
  <%= @group.name %> <br>
</p>
<p>
  <strong>Artists :</strong>
  <% @group.artists.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>>
    </tr>
  <% end %>
</p>




  <%= link_to 'All groups', groups_path %>
